
@media screen and (max-width: 640px) {
 #page1{
    padding: 1vh 2vw;
}

nav{
    height: 8vh;
    width: 96vw;
    padding: 0 3vw;
}

.nav-left{
    font-size: 1.2rem;
}
.nav-right ul{
    gap: 10px;
}

.follow-btn{
    padding: 5px 10px;
    font-size: 0.7rem;
}
.follow-btn img{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.pg1-body{
    background: url(assests/pic3.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    width: 96vw;
    margin-top: 2vh;
}

.pg1-body h1{
    font: bold 6.5rem/1.2 "font1";
    color: orangered;
}
.pg1-body h2{
    font: bold 2rem/1.2 "font3";
}

}