
@media screen and (max-width: 640px) {
 #page1{
    padding: 1vh 2vw;
}

nav{
    height: 8vh;
    width: 96vw;
    padding: 0 3vw;
}

.nav-left{
    font-size: 1.2rem;
}
.nav-right ul{
    gap: 10px;
}

.follow-btn{
    padding: 5px 10px;
    font-size: 0.7rem;
}
.follow-btn img{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.pg1-body{
    background: url(assests/pic5.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    width: 96vw;
    margin-top: 2vh;
}

.pg1-body h1{
    font: bold 6rem/1.2 "font1";
    color: orangered;
}
.pg1-body h2{
    font: bold 2rem/1.2 "font3";
}


.pg2-cont {
   height: 96vh;
    width: 96vw;
    background: url(assests/pic6.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
#page2 h1{
    color: orangered;
    margin-top: 5vh;
    font: bold 4rem/1.2 "font2";
}
#page2 h2{
    font: 2rem "font1";
    
}
#page2 h3{
    font: bold italic 1.5rem "font3";
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


.pg3cont{
    height: 90vh;
    width: 90vw;
    background: url(assests/pic7.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.pg3cont2{
    height: 90vh;
    width: 90vw;
    background-color: #00000033;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 1vh 2vw;
    color: white;
}


.pg3cont2 h1{
    font: 2rem "font1";
    text-shadow: 3px 5px 8px #000000;
    margin-top: 0;
}
.pg3cont2 h1 span{
    color: orangered;
}

.pg3cont2 p{
    font: 1.2rem "font4";
    text-shadow: 5px 10px 8px #000000;
}

#page4{
    padding: 2vh 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pg4cont{
    height: 40vh;
    width: 100%;
}

.pg4cont h1{
    font: bold 3rem "font1";
    color: orangered;
    margin-bottom: 2vh;
}
.pg4cont p{
    font: 1.2rem "font3";
}
.pg4img{
    height: 40vh;
    width: 100%;
    background: url(assests/pic2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



#page5{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
}

.pg5left{
    /* border: none; */
    padding: 3vh;
    height: 45vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.pg5left a{
    text-decoration: none;
}
.pg5left h1{
    font: bold 4rem "font1";
    color: orangered;
}
.pg5left h2{
    font: 1.4rem "font3";
}

.pg5right{
    height: 45vh;
    width: 95vw;
    background: url(assests/pic10.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer{
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

footer p{
    font: 1rem "font3";
    padding: 0 5vw;
}

}